.eslintrc.js
src/index.html
stylelint.config.js
coverage

#
src/assets/
src/libs/
index.html
splashscreen.html
particle.html
stars.html
boom.html

# auto generate file
components.d.ts
auto-imports.d.ts
typings/svg-component-global.d.ts
typings/svg-component.d.ts