.start-wrapper {
  --start-width: 60%;
  --start-width-max: 900px;

  display: flex;
  width: var(--start-width);
  max-width: var(--start-width-max);
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -35px;
}

.start-name {
  animation: moving 4s infinite linear;
  background-clip: text;
  background-image: linear-gradient(90deg, #22434c, #898137 25%, #147b96 50%, #998e24 75%, #22434c);
  background-size: 200% 100%;
  letter-spacing: 0.2rem;
  -webkit-text-fill-color: transparent;
}
@keyframes moving {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0;
  }
}
